@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}
:root {
  font-family: var(--font-dm-sans), sans-serif;
  /* letter-spacing: 3px; */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-dm-sans: var(--font-dm-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: white;
  color: black;
  font-family: var(--font-dm-sans), sans-serif;
}

.about-span-green span {
    font-weight: 700;
    color: #99B81B;
}
html {
  scroll-behavior: smooth;
}